.title {
  font-size: 1.6rem;

  span {
    font-size: 1.1rem;
    color: #bbb;
    font-weight: lighter;
  }
}

.detail {
  .ng-fa-icon {
    font-size: 2rem;
    color: rgba(102, 122, 138, 0.77);
  }

  .detail-item {
    align-items: center;
    display: flex;
  }

  .detail-text {
    color: #808B96;
    font-weight: bold;
  }
}

section {
  margin-bottom: 80px;
}

.btn-link {
  text-decoration: none !important;
}
